.topnav{
  background-color: inherit;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 16px;
}
.title{
  font-size: 60px;
}
.logo-image{
  height:80px;
  width:70px;
}

.nav-area{
  float: right;
	list-style: none;
	margin-top:30px;
}
.nav-area li
{
	display: inline-block;
}
.nav-area li a
{
	color: black;
	text-decoration: none;
	padding: 12px 16px;
	font-size: 18px;
	text-transform: uppercase;
  font-weight: bold;

}

.nav-area li a:hover
{
	color: black;
	border: 1px solid black;
	border-color: black;
	box-shadow: 0 0 18px #d9d9d9;
  border-radius: 10px;
}
body{
  margin: 0;
}
h1{
  text-align: center;
  padding-top: 20px;
}
hr{
  width: 80%;
  height: 2px;
  background: black;
}
.container1 {
  position: relative;
  font-family: Arial;
}

.text-block1 {
  position: absolute;
  top: 250px;
  left: 150px;
  right:150px;
  background-color: inherit;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  text-align:center;

}
.text-block1 h3{
font-size: 25px;
}
.container1 img{
  opacity: 0.8;
}

.container2 {
  position: relative;
  font-family: Arial;

}

.text-block2 {
  position: absolute;
  top: 120px;
  left: 80px;
  right:80px;
  background-color: #e6e6e6;
  opacity: 0.5;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  border-radius: 20px;

}
.container2 img{
  opacity: 0.7;
}
.text-block2 p{
  text-align: justify;
  font-size: 25px;
}

.container3 {
  position: relative;
  font-family: Arial;

}

.text-block3 {
  position: absolute;
  top: 150px;
  left: 150px;
  right:150px;
  background-color: #e6e6e6;
  opacity: 0.5;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  text-align:center;
  border-radius: 20px;
}
.container3 img{
  opacity: 0.7;
}
.text-block3 p{
  text-align: justify;
  font-size: 25px;
}
.text-block3 ul{
  text-align: left;
  font-weight: bold;
  font-size: 28px;
}
h2{
  font-size: 35px;
}
.text-block3 p{
  font-weight: normal;
  font-size: 25px;
}


.flex-container {
    position: absolute;
    display: flex;
    left: 150px;
    right: 150px;
    padding-top: 50px;

}

.flex-child {
    flex: 1;
    border: 5px solid #664d00;
    border-radius: 10px;
    background-color: #ffbf00;
    padding-left: 30px;
    padding-bottom: 10px;
}

.flex-child:first-child {
    margin-right: 20px;
}
h4{
  font-size: 20px;
}
.container5 {
  position: relative;
  font-family: Arial;

}

.text-block5 {
  position: absolute;
  top: 150px;
  left: 150px;
  right:150px;
  background-color: inherit;
  color: black;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  text-align:center;
  border-radius: 20px;
}
.container5 img{
  opacity: 0.7;
}
.text-block5 p{
  text-align: justify;
  font-size: 25px;
}
.social a{
  text-decoration: none;
}
.social .fb{
  color: #4267B2;
}
.social .tweet{
  color: #1DA1F2;
}
.social .insta{
  color: #405DE6;
}
.social .lnk{
  color: #405DE6;
}
.social{
  font-size: 40px;
  text-align: center;
}

.footer hr{
  width: 100%;
}
.footer{
  padding-bottom: 20px;
  padding-top: 130px;
}
